<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empleados</title>
</head>

<body>
    <h1>Empleados</h1>
    <ul>
        <% empleados.forEach(empleado => { %>
            <li>
                
                <p><%= empleado.nombre %></p>
                <p><%= empleado.apellido %></p>
                <p><%= empleado.puesto %></p>
                <p><%= empleado.area_trabajo %></p>
                <p><%= empleado.fecha_contratacion %></p>
                <p><%= empleado.salario %></p>
                <p><%= empleado.estado %></p>
                <p><%= empleado.fecha_registro %></p>
            </li>
        <% }) %>
    </ul>
</body>

</html>
