<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ess</title>
</head>

<body>
    <h1>Espectaculos</h1>
    <ul>
        <% Espectaculos.forEach(espectaculo => { %>
            <li>
                <h2><%= espectaculo.nombre %></h2>
                <p><%= espectaculo.descripcion %></p>
                <p><%= espectaculo.hora_inicio %></p>
                <p><%= espectaculo.duracion %></p>
                <p><%= espectaculo.ubicacion %></p>
            </li>
        <% }) %>
    </ul>
</body>

</html>